body {
	display: block;
	height: 100vh;
	width: 100vw;
	margin: 0;
}

h1 {
	color: #8914eb;
	font-size: 100px;
}
	
.toprow {
	height: 20%;
	width: 100%;
}
.bluish {
	background-color: #3dc2b3;
}
.bottomrow {
	height: 80%;
	width: 100%;
	display: block;
}
.purple {
	background-color: #a63dc2;
}
.row1 {
	height: 50%;
	width: calc (100%/3);
	display: flex;
}
.row2 {
	height: 50%;
	width: calc (100%/3);
	display: flex;
}
.blue {
	background-color:#39c6b2;
}
.box {
	height:100%;
	width: 100%;
}

.box orange 1{ 
display: block;



} 
.orange {
	background-color: #f86c07;
}
.center-content {
	align-items: center;
	justify-content: center;
}
.restrict-img-size {
	max-height: 100%;
	max-width: 100%;
}

a {
	font-size: 55px;
	color: #fe0126;
}
p {
	font-size: 43px;
	color: #ffffff;
}
p2 {
	font-size: 53px;
	font-family: Anton;
	color: #ffffff;
}
p3 {
	font-size: 45px;
	font-family: Anton;
	color: #ea1537;
}
.grow {
	transition: all .1s ease-in-out;
}
.grow:hover{
	transform: scale(1.3);
}